.buttonContainer{    
    margin-top: 50px;
}
h2{
    color:pink;
}
button{
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid plum;
}
button:hover {
    background: pink;
    border-radius: 15px;
    transform: scale(1.2);
}
button:active{
    background: plum;
    transition: all 0.2s
}
ul{
    list-style: none;
    padding-left: 0;
}
li {
    font-size: 24px;
    font-weight: bold; 
}
a {
    text-decoration: none;
    color: pink;
}